@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-300 text-indigo-600
    hover:bg-indigo-400 hover:text-white
    hover:cursor-pointer
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear;
    
  }
    h1 {
      @apply text-secondary;
    }
    h2, h3 {
      @apply text-purple-500;
    }
  
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left z-10;
    z-index: 20;
  }

  .custom-nav {
    @apply p-2 top-0 left-0 bg-gray-300 z-10;
  }
  .custom-nav-text {
    @apply text-indigo-700 drop-shadow-lg;
  }

  .game-mode-options-classic{
    @apply motion-safe:hover:scale-105 text-black hover:text-white hover:bg-blue-500 hover:border-double hover:border-white hover:border-8 hover:font-bold font-medium
  }
  .game-mode-options-knockout{
    @apply motion-safe:hover:scale-105 text-black hover:text-white hover:bg-red-500 hover:border-double hover:border-white hover:border-8 hover:font-bold
  }
  .game-mode-options-quickfire{
    @apply motion-safe:hover:scale-105 text-black hover:text-white hover:bg-green-500 hover:border-double hover:border-white hover:border-8 hover:font-bold
  }
  .game-mode-options-custom{
    @apply motion-safe:hover:scale-105 text-black hover:text-white hover:bg-yellow-500 hover:border-double hover:border-white hover:border-8 hover:font-bold
  }

  .dashboard-container {
    @apply rounded-md shadow-lg left-6;
  }
  .options-box {
    @apply w-auto align-middle justify-center p-2 m-2
    hover:cursor-pointer;
    height: 400px;
    
  }
  .options-box-categories {
    @apply w-auto align-middle justify-center p-2 m-2;
    height: auto;
  }
  .category-box {
    @apply w-auto align-middle justify-center p-2 m-2 
    hover:cursor-pointer;
  }
  .messages-box {
    @apply flex flex-col w-auto justify-items-start p-2 m-2 border-2 border-secondary;
    overflow: auto;
    height: 250px;
  }
  .game-info-container {
    @apply flex flex-col w-auto p-2 m-2;
    overflow: auto;
    height: 250px;
  }
  .gamesLink {
    @apply hover:cursor-pointer;
  }
  .sent-title  {
    @apply text-purple-500;
  }

  .sent-timestamp {
    @apply text-gray-500 text-xs;
  }

  .sent-self {
    text-align: left;
  }
  .sent-other {
    text-align: right;
  }

  .bad-login {
    text-align: left;
    margin-left: -50px;
  }
  
  .host-error {
    @apply text-yellow-600;
  }

  .stats h1 {
    @apply text-secondary;
  }

  .stats h2 {
    @apply ml-10 text-left text-purple-500;
  }

  .stats h3 {
    @apply ml-10 text-left text-xl text-black;
  }
  .available-games-title {
    @apply text-secondary;
  }
  .available-games-text h2 {
    @apply text-purple-500
  }
  .available-games-text h3 {
    @apply text-xl;
  }
  .available-games-text h4 {
    @apply text-lg;
  }
  
  .difficulty-box {
    @apply text-5xl pb-6 pt-6 font-medium;
  }
  .select-difficulty {
    @apply text-7xl;
  }
  .difficulty-custom {
    @apply border-double
  }

  .difficulty-easy {
    @apply border-double border-green-500 border-4 text-green-500 hover:text-white hover:bg-green-500 hover:cursor-pointer;
  }

  .difficulty-medium {
    @apply border-double border-yellow-400 border-4  text-yellow-400 hover:text-white hover:bg-yellow-400 hover:cursor-pointer;
  }

  .difficulty-hard {
    @apply border-double border-red-600 border-4 text-red-600 hover:text-white hover:bg-red-600 hover:cursor-pointer;
  }

  .difficulty-custom {
    @apply text-blue-600 hover:cursor-pointer;
  }

  .select-category {
    @apply text-7xl mb-14 text-blue-500;
  }
  
  .text-search {
    @apply hover:text-red-500 text-blue-500 font-medium text-xl;
  }
  .text-science {
    @apply hover:text-green-500 text-blue-500 font-medium text-xl;
  }
  .text-computers {
    @apply hover:text-purple-500 text-blue-500 font-medium text-xl;
  }
  .text-sports {
    @apply hover:text-yellow-500 text-blue-500 font-medium text-xl; 
  }
  .text-animals {
    @apply hover:text-yellow-600 text-blue-500 font-medium text-xl;
  }
  .text-geography {
    @apply hover:text-gray-500 text-blue-500 font-medium text-xl;
  }
  .text-history {
    @apply hover:text-pink-500 text-blue-500 font-medium text-xl;
  }
  .text-politics {
    @apply hover:text-yellow-900 text-blue-500 font-medium text-xl;
  }
  .custom-button {
    @apply text-blue-600 hover:cursor-pointer text-xl font-medium;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}