@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-300 text-indigo-600
    hover:bg-indigo-400 hover:text-white
    hover:cursor-pointer
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear;
    
  }

  .results-icons .sidebar-icon {
    @apply hover:bg-gray-300 hover:scale-110;
  }

  .form-button {
    @apply border-none bg-secondary text-white p-2 m-2
     shadow-xl hover:text-secondary hover:bg-gray-400
    rounded-xl hover:rounded-md
    transition-all duration-300 ease-linear;
  }
    h1 {
      @apply text-secondary drop-shadow-lg;
    }
    h2, h3 {
      @apply text-purple-500 drop-shadow-md;
    }
  
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left z-10;
    z-index: 20;
  }

  .custom-nav {
    @apply p-2 top-0 left-0 bg-gray-300 z-10;
  }
  .custom-nav-text {
    @apply text-indigo-700 drop-shadow-lg;
  }
  .dashboard-container {
    @apply rounded-md shadow-lg left-6;
  }
  .options-box {
    @apply flex flex-col align-top w-auto justify-center p-2 m-2
    hover:cursor-pointer;
    height: 400px;
    
  }
  .options-box-categories {
    @apply w-auto align-middle justify-center p-2 m-2;
    height: 400px;
  }
  .category-box {
    @apply w-auto align-middle justify-center p-2 m-2
    hover:cursor-pointer;
  }
  .messages-box {
    @apply flex flex-col rounded-md w-auto justify-items-start p-2 m-2 border-2 border-secondary shadow-lg;
    overflow: auto;
    height: 250px;
  }
  .game-info-container {
    @apply flex flex-col w-auto p-2 m-2;
    overflow: auto;
    height: 250px;
  }
  .gamesLink {
    @apply hover:cursor-pointer;
  }
  .sent-title  {
    @apply text-purple-500;
  }

  .sent-timestamp {
    @apply text-gray-500 text-xs;
  }

  .sent-self {
    text-align: left;
  }
  .sent-other {
    text-align: right;
  }

  .bad-login {
    text-align: left;
    margin-left: -50px;
  }
  
  .host-error {
    @apply text-yellow-600;
  }

  .stats h1 {
    @apply text-secondary;
  }

  .stats h2 {
    @apply ml-10 text-left text-purple-500;
  }

  .stats h3 {
    @apply ml-10 text-xl text-black;
  }
  .available-games-title {
    @apply text-secondary;
  }
  .available-games-text h2 {
    @apply text-purple-500
  }
  .available-games-text h3 {
    @apply text-xl;
  }
  .available-games-text h4 {
    @apply text-lg;
  }
  .stats-icons-group {
    @apply border-2 align-middle;
  }

  .stats-icons-group .sidebar-icon {
    @apply rounded-sm shadow-2xl text-purple-500
    hover:text-white;
  }

  .stats-text {
    @apply self-center text-xl;
  }

  .results-icons {
    @apply flex flex-row align-middle;
  }

  #gold {
    @apply text-yellow-500 bg-gray-300 hover:rounded-sm hover:bg-gray-300;
  }
  #silver {
    @apply text-gray-500 
  }
  #bronze {
    @apply text-yellow-700 bg-gray-300 hover:rounded-sm hover:bg-gray-300;
  }

  .level-icon {
    @apply absolute left-5 ml-5;
  }
  .level-holder {
    @apply left-5 flex-col justify-center align-middle;
  }
  
  
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
